= block_with_caption(:bottom, :class=>'image-block', :style=>style_value(text_align: (attr :align), float: (attr :float)))
  - target_url = image_uri(attr :target)
  = html_tag_if(image_link, :a,
      :class=>['image', ('bare' if image_link == target_url)],
      :href=>image_link,
      :title=>image_link_label,
      'aria-label'=>image_link_label,
      :target=>(attr :window),
      :rel=>link_rel)
    - if svg_image? && option?('inline')
      == read_svg_contents(attr :target) || %(<span class="alt">#{attr :alt}</span>)
    - elsif svg_image? && option?('interactive')
      - svg_fallback = (attr? :fallback) ? %(<img src="#{image_uri(attr :fallback)}" alt="#{attr :alt}">) : %(<span class="alt">#{attr :alt}</span>)
      == %(<object type="image/svg+xml" data="#{target_url}"#{(" width=\"#{attr :width}\"" if attr? :width)}#{(" height=\"#{attr :height}\"" if attr? :height)}>#{svg_fallback}</object>)
    - else
      img src=target_url alt=(attr :alt) width=(attr :width) height=(attr :height) loading=(attr :loading)
